@import 'bootstrap/bootstrap-reboot.min.css';
@import 'bootstrap/bootstrap.min.css';
@import 'bootstrap/fontawesome.min.css';
@import 'bootstrap/fa-regular.min.css';

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

textarea {
  resize: none;
}

.kweet-row a.text-info {
  text-decoration: none;
}

.kweet-row a.text-danger:hover {
  text-decoration: underline;
  cursor: pointer;
}

button, button:focus, input:focus, textarea:focus {
  outline: none !important;
  -webkit-appearance:none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.alert p {
  margin-bottom: 0;
}
