<div class="card border-info">
  <div class="card-header bg-info text-white">Account settings</div>
  <div class="card-body text-info">

    <form class="mb-2" (submit)="onDetailSubmit()">
      <fieldset>
        <h4>Account details</h4>
        <div class="form-group">
          <label for="fullName">Full name</label>
          <input class="form-control border-info" placeholder="Full name" id="fullName" name="fullName" type="text" autofocus="" [(ngModel)]="user.fullName">
        </div>
        <button class="btn btn-info">Save</button>
      </fieldset>
    </form>

    <form (submit)="onPasswordSubmit()">
      <fieldset>
        <h4>Change password</h4>
        <div class="form-group">
          <input class="form-control border-info" placeholder="Current password" id="oldPass" name="oldPass" type="password" [(ngModel)]="oldPass">
        </div>
        <div class="form-group">
          <input class="form-control border-info" placeholder="New password" id="newPass" name="newPass" type="password" [(ngModel)]="newPass">
        </div>
        <div class="form-group">
          <input class="form-control border-info" placeholder="Retype new password" id="newPassAgain" name="newPassAgain" type="password" [(ngModel)]="newPassAgain">
        </div>

        <button class="btn btn-info">Save</button>
        <button class="btn btn-outline-danger float-right" type="button" (click)="onCloseEdit()">Close</button>
      </fieldset>
    </form>
  </div>
</div>
