<div class="card border-primary mb-3">
  <div class="card-header">Trending topics</div>
  <div class="card-body">
    <h5>#dit<small class="text-muted">- 2.321 kweets</small></h5>
    <h5>#zijn <small class="text-muted">- 30 kweets</small></h5>
    <h5>#trending <small class="text-muted">- 321.651 kweets</small></h5>
    <h5>#topics <small class="text-muted">- 387 kweets</small></h5>
    <h5>#helelangehashtagmetveelgeassocieerdekweets <small class="text-muted">- 99.324.387 kweets</small></h5>
    <h5>#kweet <small class="text-muted">- 1.357 kweets</small></h5>
  </div>
</div>
