<div class="row">
  <div class="col-lg-3">
    <app-user-card></app-user-card>
  </div>
  <div class="col-lg-6">
    <app-kweet-form></app-kweet-form>

    <div class="card border-secondary mb-3">
      <div class="card-header">Timeline</div>
      <div class="card-body">
        <app-kweet *ngFor="let kweet of kweets; let i = index" [kweet]="kweet" [isLast]="i == kweets.length-1"></app-kweet>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <app-trending-card></app-trending-card>
  </div>
</div>
