<div class="row kweet-row">
  <div class="col-8">
    <h5>
      @{{kweet.owner.username}}
      <small *ngIf="ownedByLoggedInUser()">- <a class="text-danger" (click)="onDeleteClick()">delete kweet</a></small>
    </h5>
    <p class="small mb-0 text-muted">Kweeted {{getCreatedRelative()}}</p>

  </div>
  <div class="col-sm-4 text-right">
    <button class="btn btn-block" [ngClass]="liked ? 'btn-info' : 'btn-outline-info'" (click)="onLikeClick()" style="outline: none;">
      <i class="far fa-thumbs-up"></i> {{kweet.likeCount}}
    </button>
  </div>

  <div class="col" [innerHTML]="kweet.message"></div>
</div>

<hr *ngIf="!isLast" class="my-3">
