<div class="card border-secondary mb-3">
  <div class="card-header">Timeline</div>
  <div class="card-body">
    <div [hidden]="kweets !== undefined" class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>

    <app-kweet
      *ngFor="let kweet of kweets; let i = index"
      [kweet]="kweet"
      [isLast]="i == kweets.length-1"
      (onDelete)="onKweetDeleted($event)"
    ></app-kweet>
  </div>
</div>
