<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.1" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OpenApi</servlet-name>
        <servlet-class>io.swagger.v3.jaxrs2.integration.OpenApiServlet</servlet-class>
        <init-param>
          <param-name>openApi.configuration.resourcePackages</param-name>
          <param-value>com.goosvandenbekerom.Resource</param-value>
        </init-param>
        <init-param>
            <param-name>openApi.configuration.basePath</param-name>
            <param-value>/kwetter-java-1.0-SNAPSHOT/api</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenApi</servlet-name>
        <url-pattern>/swagger/*</url-pattern>
    </servlet-mapping>
</web-app>